<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="addModalLabel">Написать письмо</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="custom-alert"></div>
            <form th:action="@{/messages/saveMessage}" th:object="${message}" method="post" id="add_message" >

                <div class="mb-3">
                    <label for="loginUser" class="col-form-label">Логин пользователя:</label>
                    <input type="text" class="form-control" id="loginUser" name="loginUser" required>
                </div>


                <div class="mb-3">
                    <label for="themeMessage" class="col-form-label">Тема сообщения:</label>
                    <input type="text" class="form-control" id="themeMessage" name="themeMessage" required>
                </div>
                <div class="mb-3">

                    <label for="textMessage">Текст сообщения:</label>
                    <textarea class="form-control" id="textMessage" rows="7" name="textMessage" required></textarea>
                </div>




                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                    </button>
                    <button type="submit" class="btn btn-primary">Отправить</button>
                </div>
            </form>
        </div>
    </div>
</div>
</html>