<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="addModalLabel">Создание статьи</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="custom-alert"></div>
            <form th:action="@{/articles/saveArticle}" th:object="${article}" method="post" id="add_message" >



                <div class="mb-3">
                    <label for="formFile" class="form-label">Обложка</label>
                    <input class="form-control" type="file" id="formFile" name="maintenanceFile">
                </div>
                <div class="mb-3">
                    <label for="name" class="col-form-label">Название статьи:</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>
                <div class="mb-3">

                    <label for="text">Текст статьи:</label>
                    <textarea class="form-control" id="text" rows="7" name="text" required></textarea>
                </div>




                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                    </button>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>
</html>