<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="addModalLabel">Информация пользователя</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div>

                <div class="text-body"><span>Логин:</span></div>


                <div>
                    <td th:text="*{user.login}"> </td>
                    <div class="text-body">Дата регистрации:</div>
                    <td th:text="*{user.dataCreated}"> </td>
                </div>
                <div>
                    <div class="text-body">Последняя дата посещения:</div>
                    <td th:text="*{user.dataVisited}"> </td>
                </div>
                <div>
                    <div class="text-body">Количество статей пользователя:</div>
                    <td th:text="${countArticles}"> </td>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                    </button>

                </div>
            </div>
        </div>
    </div>
</div>
</html>