<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Редактирование</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form th:action="@{/articles/updateArticle}" method="post" th:object="${article}" id="edit_article">
                <input type="hidden" name="pid" th:field="*{pid}" id="edit-article-id">
                <input type="hidden" name="dataArticle" th:field="*{dataArticle}" id="edit-dataArticle">
                <div class="mb-3">
                    <label for="formFile" class="form-label">Обложка</label>
                    <img th:src="@{articles/image(pid=${article.pid})}" class="card-img-top" alt="..." />
                    <input class="form-control" type="file" id="formFile" name="maintenanceFile" th:src="@{articles/image(pid=${article.pid})}">
                </div>

                <div class="mb-3">
                    <label for="name" class="col-form-label">Название статьи:</label>
                    <input type="text" th:field="*{name}" class="form-control" id="name" name="name" required>
                </div>
                <div class="mb-3">

                    <label for="text">Текст статьи:</label>
                    <textarea class="form-control"  th:field="*{text}" id="text" rows="7" name="text" required></textarea>
                </div>
                <div class="modal-footer" style="border: none">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >
                        Close
                    </button>
                    <button type="submit" class="btn btn-primary" >Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>